<div id='reader'>
    <div id='story_body_container'>
        <div id='story_body'>
            <div id='paged_story'>
            </div>
        </div>
    </div>
    <div id='top_bar'>
        <div class='title_bar' onclick='clickTitleBar();'>
            <div class='current_title'></div>
        </div>
        <div class='nav_bar'>
            <div class='prev' onclick='readerPrev();'>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="42px" viewBox="0 0 22 42" enable-background="new 0 0 22 42" xml:space="preserve">
                    <path stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" d="m20.51,41.02l1.97917,-2.182011l-18.33801,-18.19944l18.402268,-18.402301l-2.04343,-2.236249l-16.409999,16.41l-4.1,4.099998l4.1,4.1l0,0" fill="#157DFB"/>
                </svg>
            </div>
            <div class='next' onclick='readerNext();'>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="42px" viewBox="0 0 22 42" enable-background="new 0 0 22 42" xml:space="preserve">
                    <path transform="rotate(180 11.2767 20.4992)" stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" d="m20.51,41.02l1.97917,-2.182011l-18.33801,-18.19944l18.402268,-18.402301l-2.04343,-2.236249l-16.409999,16.41l-4.1,4.099998l4.1,4.1l0,0" fill="#157DFB"/>
                </svg>
            </div>
            <div class='fast_forward'  onclick='readerFastForward();'>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="39px" height="42px" viewBox="0 0 39 42" enable-background="new 0 0 39 42" xml:space="preserve">
                    <g transform="rotate(180 19.2884 20.51)">
                        <path fill="#157DFB" d="m20.510004,41.02l1.97917,-2.182011l-18.338011,-18.199438l18.402267,-18.402303l-2.04343,-2.236249l-16.41,16.41l-4.1,4.099998l4.1,4.1c0,0 0,0 0,0" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" />
                        <path fill="#157DFB" d="m36.533291,41.020004l1.979168,-2.182011l-18.338009,-18.199442l18.402267,-18.402302l-2.04343,-2.236249l-16.41,16.409999l-4.1,4.099998l4.1,4.1c0,0 0,0 0,0" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null"/>
                    </g>
                </svg>
            </div>
        </div>
    </div>
    <div id='bottom_bar'>
        <div class='icon_bar'>
            <div class='icon text_settings' onclick='clickTextSettings();'><div class='text'>Aa</div></div>
            <div class='icon rate'>
                <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                    <polygon fill="none" points="25,3.553 30.695,18.321 46.5,19.173   34.214,29.152 38.287,44.447 25,35.848 11.712,44.447 15.786,29.152 3.5,19.173 19.305,18.321 " stroke="#000000" stroke-miterlimit="10" stroke-width="2"/>
                </svg>
            </div>
            <div class='icon highlights'>
                <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                    <path d="  M29,43c-2.209,0-4,1.806-4,4V10c0-2.209,1.791-4,4-4h16c2.209,0,4,1.791,4,4v29c0,2.209-1.791,4-4,4H29z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                    <path d="  M21,43c2.209,0,4,1.806,4,4V10c0-2.209-1.791-4-4-4H5c-2.209,0-4,1.791-4,4v29c0,2.209,1.791,4,4,4H21z" fill="none" stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="2"/>
                </svg>
            </div>
            <div class='icon settings'>
                <svg enable-background="new 0 0 50 50" height="50px" id="Layer_1" version="1.1" viewBox="0 0 50 50" width="50px" x="0px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" y="0px">
                    <polyline fill="none" points="17,10 25,2 33,10" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                    <line fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" x1="25" x2="25" y1="32" y2="2.333"/>
                    <path d="M17,17H8v32h34V17h-9" fill="none" stroke="#000000" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"/>
                </svg>
            </div>
        </div>
        <div class='tracker_bar'>
        </div>
    </div>
    <div id='text_settings'>
        <div class='font_size'>
            <div class='button smaller' onclick='clickFontSmaller();'>
                <div class='text'>Aa</div>
                <div class='arrow'></div>
            </div>
            <div class='button larger' onclick='clickFontLarger();'>
                <div class='text'>Aa</div>
                <div class='arrow'></div>
            </div>
        </div>
        <div class='themes'>
            <div class='item theme_standard active' onclick="clickTheme('theme_standard');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_standard.jpg"/>
                    </div>
                </div>
                <div class='label'>Standard</div>
            </div>
            <div class='item theme_helvetica' onclick="clickTheme('theme_helvetica');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_helvetica.jpg"/>
                    </div>
                </div>
                <div class='label'>Helvetica</div>
            </div>
            <div class='item theme_baskerville' onclick="clickTheme('theme_baskerville');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_baskerville.jpg"/>
                    </div>
                </div>
                <div class='label'>Baskerville</div>
            </div>
            <div class='item theme_palatino' onclick="clickTheme('theme_palatino');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_palatino.jpg"/>
                    </div>
                </div>
                <div class='label'>Palatino</div>
            </div>
            <div class='item theme_roboto' onclick="clickTheme('theme_roboto');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_roboto.jpg"/>
                    </div>
                </div>
                <div class='label'>Roboto</div>
            </div>
            <div class='item theme_midnight' onclick="clickTheme('theme_midnight');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_midnight.jpg"/>
                    </div>
                </div>
                <div class='label'>Midnight</div>
            </div>
        </div>
    </div>
</div>