<!DOCTYPE html>
<html>
<head>
    <title>bluewell</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--[if lt IE 9]>
     <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    
    <link href="/css/reader.css" rel="stylesheet" type="text/css" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/string.utils.js" type="text/javascript"></script>

    <script src="/js/reader.js" type="text/javascript"></script>
    <script type="text/javascript">
        var g_story_id = <%= story_id %>;
    </script>
</head>
<body>
    <div id='story_body'>
    </div>
    <div id='left_click' onclick="clickReaderLeft();"></div>
    <div id='center_click' onclick="clickReaderCenter();"></div>
    <div id='right_click' onclick="clickReaderRight();"></div>
    <div id='top_bar'>
    </div>
    <div id='bottom_bar'>
        <div class='icon_bar'>
            <div class='icon text_settings' onclick='clickTextSettings();'><div class='text'>Aa</div></div>
            <div class='icon rate'><div class='text'>R</div></div>
            <div class='icon highlights'><div class='text'>H</div></div>
            <div class='icon settings'><div class='text'>S</div></div>
        </div>
        <div class='tracker_bar'>
        </div>
    </div>
    <div id='text_settings'>
        <div class='font_size'>
            <div class='button smaller' onclick='clickFontSmaller();'>
                <div class='text'>Aa</div>
                <div class='arrow'></div>
            </div>
            <div class='button larger' onclick='clickFontLarger();'>
                <div class='text'>Aa</div>
                <div class='arrow'></div>
            </div>
        </div>
        <div class='theme'>
            <div class='item standard'>
                <div class='outer'>
                    <div class='inner'></div>
                </div>
                <div class='label'>Standard</div>
            </div>
            <div class='item standard'>
                <div class='outer'>
                    <div class='inner'></div>
                </div>
                <div class='label'>Standard</div>
            </div>
            <div class='item standard'>
                <div class='outer'>
                    <div class='inner'></div>
                </div>
                <div class='label'>Helvetica</div>
            </div>
            <div class='item standard'>
                <div class='outer'>
                    <div class='inner'></div>
                </div>
                <div class='label'>Baskerville</div>
            </div>
            <div class='item standard'>
                <div class='outer'>
                    <div class='inner'></div>
                </div>
                <div class='label'>Palatino</div>
            </div>
        </div>
    </div>
</body>
</html>
