<!DOCTYPE html>
<html>
<head>
    <title>bluewell</title>
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!--[if lt IE 9]>
     <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    
    <link href="/css/reader.css" rel="stylesheet" type="text/css" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js" type="text/javascript"></script>
    <script src="/js/string.utils.js" type="text/javascript"></script>

    <script src="/js/reader-swipe.js" type="text/javascript"></script>
    <script src="/js/reader.js" type="text/javascript"></script>
    <script type="text/javascript">
        var g_story_id = <%= story_id %>;
    </script>
</head>
<body>
    <div id='story_body_container'>
        <div id='story_body'>
        </div>
    </div>
    <div id='top_bar'>
        <div class='title_bar'>
            <div class='current_title'></div>
        </div>
        <div class='nav_bar'>
            <div class='prev' onclick='readerPrev();'>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="42px" viewBox="0 0 22 42" enable-background="new 0 0 22 42" xml:space="preserve">
                    <path stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" d="m20.51,41.02l1.97917,-2.182011l-18.33801,-18.19944l18.402268,-18.402301l-2.04343,-2.236249l-16.409999,16.41l-4.1,4.099998l4.1,4.1l0,0" fill="#157DFB"/>
                </svg>
            </div>
            <div class='next' onclick='readerNext();'>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="22px" height="42px" viewBox="0 0 22 42" enable-background="new 0 0 22 42" xml:space="preserve">
                    <path stroke-linecap="null" stroke-linejoin="null" stroke-dasharray="null" stroke-width="null" d="m20.51,41.02l1.97917,-2.182011l-18.33801,-18.19944l18.402268,-18.402301l-2.04343,-2.236249l-16.409999,16.41l-4.1,4.099998l4.1,4.1l0,0" fill="#157DFB"/>
                </svg>
            </div>
            <div class='fast_forward'  onclick='readerFastForward();'>
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="39px" height="42px" viewBox="0 0 39 42" enable-background="new 0 0 39 42" xml:space="preserve">
                    <path fill="#157DFB" d="m20.510004,41.02l1.97917,-2.182011l-18.338011,-18.199438l18.402267,-18.402303l-2.04343,-2.236249l-16.41,16.41l-4.1,4.099998l4.1,4.1c0,0 0,0 0,0" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null" id="svg_1"/>
                    <path id="svg_2" fill="#157DFB" d="m36.533291,41.020004l1.979168,-2.182011l-18.338009,-18.199442l18.402267,-18.402302l-2.04343,-2.236249l-16.41,16.409999l-4.1,4.099998l4.1,4.1c0,0 0,0 0,0" stroke-width="null" stroke-dasharray="null" stroke-linejoin="null" stroke-linecap="null"/>
                </svg>
            </div>
        </div>
    </div>
    <div id='bottom_bar'>
        <div class='icon_bar'>
            <div class='icon text_settings' onclick='clickTextSettings();'><div class='text'>Aa</div></div>
            <div class='icon rate'><div class='text'>R</div></div>
            <div class='icon highlights'><div class='text'>H</div></div>
            <div class='icon settings'><div class='text'>S</div></div>
        </div>
        <div class='tracker_bar'>
        </div>
    </div>
    <div id='text_settings'>
        <div class='font_size'>
            <div class='button smaller' onclick='clickFontSmaller();'>
                <div class='text'>Aa</div>
                <div class='arrow'></div>
            </div>
            <div class='button larger' onclick='clickFontLarger();'>
                <div class='text'>Aa</div>
                <div class='arrow'></div>
            </div>
        </div>
        <div class='themes'>
            <div class='item theme_standard active' onclick="clickTheme('theme_standard');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_standard.jpg"/>
                    </div>
                </div>
                <div class='label'>Standard</div>
            </div>
            <div class='item theme_helvetica' onclick="clickTheme('theme_helvetica');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_standard.jpg"/>
                    </div>
                </div>
                <div class='label'>Helvetica</div>
            </div>
            <div class='item theme_baskerville' onclick="clickTheme('theme_baskerville');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_standard.jpg"/>
                    </div>
                </div>
                <div class='label'>Baskerville</div>
            </div>
            <div class='item theme_palatino' onclick="clickTheme('theme_palatino');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_standard.jpg"/>
                    </div>
                </div>
                <div class='label'>Palatino</div>
            </div>
            <div class='item theme_midnight' onclick="clickTheme('theme_midnight');">
                <div class='outer'>
                    <div class='inner'>
                        <img src="/images/theme_standard.jpg"/>
                    </div>
                </div>
                <div class='label'>Midnight</div>
            </div>
        </div>
    </div>
</body>
</html>
